.root {
  padding-top: 60px;
}

.title {
  color: var(--mantine-color-bright);
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.description {
  margin-top: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-dimmed);
}

.card {
  transition: border-color 150ms ease;

  @mixin hover {
    border-color: var(--mantine-primary-color-filled);
  }
}

.packageName {
  font-size: var(--mantine-font-size-lg);
  font-weight: 600;
  color: var(--mantine-color-bright);
}

.packageDescription {
  margin-top: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}
